<div class="box padding10">
  <h3 style="margin: 0;">Basic Info</h3>
  <dl class="dl-horizontal">
    <dt>username</dt>
    <dd><%=@user.username%></dd>
    <% if can? :edit, @user %>
    <dt>email</dt>
    <dd>
      <% if @user.email %>
        <%=@user.email%>
      <% else %>
        <a href="javascript:void(0);">set your email...</a>
      <% end %>
    </dd>
    <dt>password</dt>
    <dd><a href="javascript:void(0);">change your password...</a></dd>
    <% end %>
    <dt>created at</dt>
    <dd><%=@user.created_at.to_date%></dd>
  </dl>
</div>

<!--div class="mt15 box padding10 sns">
  <h3 style="margin: 0;">Social Networks</h3>
  <% ['facebook', 'twitter', 'google'].each do |sns| %>
    <i class="<%=sns%>"></i>
  <% end %>
</div-->