<div class="span5 tree">
  <div class="node">root <a title="为根分类添加子分类" href="<%= new_admin_category_url(:parent_id => 0) %>"><i class="icon-plus"></i></a></div>
  <div class="children">
    <% @categories.each_with_index do |category, index| %>
      <div class="node-group">
        <%= render "tree_node", :category => category %>
        <% unless category.children.blank? %>
        <div class="children">
          <% category.children.each do |c| %>
          <%= render "tree_node", :category => c %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('.node').mouseover(function() {
            $(this).find('.actions').show();
        }).mouseout(function(){
            $(this).find('.actions').hide();
        });
    });
</script>