/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require my_bootstrap
 */
.mt10 { margin-top: 10px!important; }
.mt15 { margin-top: 15px!important; }
.mb10 { margin-bottom: 10px!important; }
.mb15 { margin-bottom: 15px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb0 { margin-bottom: 0px!important; }
.padding10 { padding: 10px; }
.padding20 { padding: 20px; }

body { background-color: #f2f2f2; background-image: url(/assets/bg.png); color: #2a2a2a;  }

.box { background-color: #fff; border-radius: 5px; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33); }
.form-large input[type="text"], .form-large input[type="password"] { height: 20px; line-height: 19px; padding: 7px; margin-bottom: 0px; }
.form-large textarea { width: 90%; height: 120px; }
i.twitter, i.facebook, i.google { background: url(/assets/common/sns.png) no-repeat; margin: 0; width: 25px; height: 25px; display: inline-block;  }
i.twitter { background-position: 0px -88px; }
i.facebook { background-position: -33px -89px; }
i.google { background-position: -65px -60px; }
.input-append .btn.active { color: #FA649F; border-color: #FA649F; }

.header { }
.header .bottom { background: url(/assets/nav_bottom_bg.png) repeat-x; height: 25px; }
.header .info-bar { text-align: center; }
.header .nav-bar { background: url("/assets/common/nav_head_bg.png") 0 -100px repeat-x; height: 32px;}
.header .nav-main a { line-height: 36px; height: 36px; color: #666; display: block; font-size: 14px; font-weight: bold; float: left; }
.header .nav-main a:hover { color: #FA649F; text-decoration: none; }
.header .nav-main li { float: left; padding: 0 17px; height: 36px; line-height: 36px; }
.header .nav-main .split { background: url(split.png) no-repeat left center; }
.header .nav-main li.find { background: url(find-all-bg.png) no-repeat; width: 172px; height: 32px; margin: 0 12px 0 8px; padding: 0; }
.header .nav-main li.find a { background: url(find-all.png) no-repeat 12px 14px; padding-left: 31px; width: 141px; height: 36px; line-height: 36px; border-radius: 5px 5px 0 0; position: relative; color: #fff; }
.header .nav-main .active { color: #FA649F; }
#cate-panel { display: none; left: 203px; top: 105px;padding: 0 6px 7px 0; width: 171px; position: absolute; z-index: 9888; background: url(cate-nav-bg.png) right top no-repeat; }
.cate-nav { border-radius: 0 0 5px 5px; padding: 6px 0; background: #f8f9f7; zoom: 1; margin: 0; }
.cate-nav li { margin: 5px 0; padding-left: 10px; height: 45px; color: #666; position: relative; list-style: none; border-bottom: #E9EAE8 1px solid; }
.cate-nav li b { position: absolute; display: block; width: 5px; height: 7px; background: url(narrow-right.png) no-repeat; right: 14px; top: 7px; }
.cate-nav .big a { display: block; font-size: 14px; }
.cate-nav .sub a { font-size: 12px; display: inline; color: #707070; }
.cate-nav .sub a:hover { color: #FA649F; }

.footer { margin-top: 28px; padding-bottom: 10px; }

.waterfall {  }
.waterfall .col { float: left; width: 228px; margin-right: 16px; }
#col_3 { margin-right: 0; }
.waterfall .col .item { width: 228px; position: relative; margin-bottom: 20px;  }
.waterfall .col .bg { overflow: hidden; width: 225px; padding-right: 3px; border-radius: 5px 10px 0 0; background: url(/assets/wall_bg_shadow.png); }
.waterfall .col .item .pic { background-color: #fff; text-align: center; }
.waterfall .col .item .content { padding: 10px 9px 5px 8px; background-color: #fff; line-height: 19px; }
.waterfall .col .ft { box-shadow: 2px 3px 4px #ddd; width: 225px; height: 5px; border-radius: 0 0 5px 5px;  background-color: #fff; margin-top: -1px; font-size: 0; }

.page-title { margin: 20px 0 50px 0; color: #777; text-align: center; font-size: 32px;  text-shadow: 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff; }