.slides { padding: 15px; margin-left: 180px; height: 330px; }
.slides .content { list-style: none; margin: 0; height: 330px; overflow: hidden; }
.slides .content li { float: left; }
.slides .content img { width: 750px; }
.slides .control {  position: absolute; z-index: 1; margin-top: -65px;  }
.slides .control ul { list-style: none; margin: 0; height: 46px; overflow: hidden; padding-top: 18px;  }
.slides .control li { float: left; height:60px; width: 146px; border: #AAA148 2px solid; opacity: 0.5; }
.slides .control .current { border-color: #FFF; margin-top: -18px; opacity: 1; }
.slides .control img { height:60px; width: 146px; }

.item-group { padding: 10px 15px; }
.item-group p { font-size: 14px; }
.item-group p a { color: #FA649F; }

.products li { float: left; width: 150px; text-align: center; }
.products li img { height: 170px; }