// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign { margin: 0 auto; background-color: #fff; width: 424px; border-radius: 3px; box-shadow: 0 0 3px 1px rgba(0,0,0,.05), 0 1px 2px 0px rgba(0,0,0,.1); padding: 20px 40px; }
.sign h2 { font-size: 24px; color: #32353c; }
.sign small { color: #92959c; font-size: 11px; }
.sign strong { color: #000; font-size: 12px; }
.sign input[type="text"], .sign input[type="password"] { width: 410px; height: 20px; line-height: 19px; padding: 7px; margin-bottom: 0px; }
.sign .btn-area { margin-top: 30px; }
.sign .line { border-bottom: #ECEFF2 1px solid; margin: 20px 0; }
.sns li { float: left; margin-right: 16px; }
.sns li.last { margin-right: 0; }
.sns a { font-size: 14px; font-weight: bold; width: 130px; text-decoration: none; border-radius: 3px; background-color: #e13b3c; color: #fff; height: 43px; line-height: 42px; display: block; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.sns a.twitter { background-color: #2BB3E5; }
.sns a.twitter i { background-position: -35px 0; }
.sns a.facebook { background-color: #3065A1; }
.sns a.facebook i { background-position: 0 0; }
.sns a.google { background-color: #DA573B; }
.sns a.google i { background-position: -65px 0; }
.sns i { margin: 0 10px; background: url(/assets/common/sns.png) no-repeat; width: 29px; height: 25px;display: inline-block; vertical-align: middle; }

.user-image { overflow: hidden;  margin-top: -30px; height: 80px; width: 80px; text-align: center;  line-height: 80px;}
.user-image img { max-width: 80px; max-height: 80px; }