<% provide(:title, 'create your own brand on bestdressworld.com') %>

<%= form_for @brand,:html => { :class => 'form-large box padding10' } do |f| %>
  <div><%=display_errors(@brand)%></div>
  <%= render "fields", :f => f %>
  <div class="mt10">
    <%=f.submit :class => 'btn btn-info'%>
  </div>
<% end %>