<div class="item">
  <div class="bg">
    <div class="pic">
      <a href="<%= product_url(product.seo_url) %>" target="_blank">
        <%= render_image(product.images[0]) %>
      </a>
    </div>
    <div class="content">
      <%= product.name.downcase %>
    </div>
  </div>
  <div class="ft"></div>
</div>