<div class="container hide"><%= paginate products, :theme => 'bootstrap', :remote => true %></div>
<div class="container waterfall mt10" style="width: 960px;">
  <% (0..3).each do |column| %>
      <div class="col" id="col_<%=column%>">
        <% products.each_with_index do |product, index| %>
          <% if index % 4 == column %>
            <%= render :partial => "products/item", :locals => {:product => product} %>
          <% end %>
        <% end %>
      </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
      $(window).scroll(function () {
          if (($(window).height() + $(window).scrollTop()) >= ($("body").height() - $(".footer").height())) {
              $('.pagination a[rel=next]:first').click();
              $('.pagination').html('');
              return false;
          }
      });
  });
</script>