<% provide(:show_cate_panel, ' show=true style=display:block;') %>
<% provide(:stylesheet, stylesheet_link_tag('homepage')) %>
<div class="container">
  <div class="box">
      <div class="slides">
        <ul class="content clearfix">
            <li class="current">
                <a href="#">
                    <img src="http://d03.res.meilishuo.net/img/_o/33/2b/781b6b12d5d7d637b4f7da853bb0_640_240.c1.jpg" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://d01.res.meilishuo.net/img/_o/84/ee/ac6411495d349c69b39cead52e7c_640_240.c1.jpg" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://imgtest-lx.meilishuo.net/img/_o/7b/4e/f24e800e81e78aa2ca14c5dde819_640_240.c1.jpg" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://d01.res.meilishuo.net/img/_o/0c/66/f4ab76f4214eed778c154c87c6c6_640_240.c1.jpg" />
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="http://d01.res.meilishuo.net/img/_o/cd/3a/07e9c0b6b40e43d1e7aba6144b43_640_240.c1.jpg" />
                </a>
            </li>
        </ul>

        <div class="control">
          <ul class="clearfix">
            <li class="current" data-index="0">
                <img src="http://d03.res.meilishuo.net/img/_o/33/2b/781b6b12d5d7d637b4f7da853bb0_640_240.c1.jpg" />
            </li>
            <li data-index="1">
                <img src="http://d01.res.meilishuo.net/img/_o/84/ee/ac6411495d349c69b39cead52e7c_640_240.c1.jpg" />
            </li>
            <li data-index="2">
                <img src="http://imgtest-lx.meilishuo.net/img/_o/7b/4e/f24e800e81e78aa2ca14c5dde819_640_240.c1.jpg" />
            </li>
            <li data-index="3">
                <img src="http://d01.res.meilishuo.net/img/_o/0c/66/f4ab76f4214eed778c154c87c6c6_640_240.c1.jpg" />
            </li>
            <li data-index="4">
                <img src="http://d01.res.meilishuo.net/img/_o/cd/3a/07e9c0b6b40e43d1e7aba6144b43_640_240.c1.jpg" />
            </li>
          </ul>
        </div>
      </div>
  </div>

  <div class="box mt15 item-group">
    <p class="title">the best <a href="#" target="_blank">Wedding Dress</a> of the world</p>
    <div>
        <img height="310" src="http://s5.mogujie.cn/pic/130416/1tfp1_kqywyscxnjbf6rkugfjeg5sckzsew_145x312.jpg" />
        <img height="310" src="http://s6.mogujie.cn/pic/130402/hufrf_kqywewc7njbhmv2ugfjeg5sckzsew_145x310.jpg" />
    </div>
  </div>

  <div class="box mt15 item-group">
      <p class="title">the best <a href="#" target="_blank">Occasion Dresses</a> of the world</p>
      <div>
          <img height="310" src="http://s9.mogujie.cn/pic/130417/k6k6i_kqyuyocwnjbegs3wgfjeg5sckzsew_150x170.jpg" />
      </div>
  </div>

  <div class="box mt15 item-group">
      <p class="title">the best <a href="#" target="_blank">Functional Dresses</a> of the world</p>
      <div>
          <img height="310" src="http://s9.mogujie.cn/pic/130417/k6k6i_kqyuyocwnjbegs3wgfjeg5sckzsew_150x170.jpg" />
      </div>
  </div>

  <div class="box mt15 item-group">
      <p class="title">the best <a href="#" target="_blank">Colorful Dresses</a> of the world</p>
      <div>
          <img height="310" src="http://s9.mogujie.cn/pic/130417/k6k6i_kqyuyocwnjbegs3wgfjeg5sckzsew_150x170.jpg" />
      </div>
  </div>
</div>

<script>
  $(document).ready(function() {
      var auto = true;
      var control = $('.slides .control li');
      control.on('mouseenter click', function() {
          var content = $('.slides .content');
          var current = $('.slides .control .current');
          var $this = $(this);
          if (current[0] == $this[0]) {
            return false;
          }
          current.animate({'margin-top': '0', 'opacity': 0.5}, function() {
            current.removeClass('current');
          });
          $this.animate({'margin-top': '-18px', 'opacity': 1}, function() {
            if (content.find('li:visible')[0] != content.find('li').eq($this.data('index'))[0]) {
                content.find('li').hide();
                content.find('li').eq($this.data('index')).fadeIn();
            }
            $this.addClass('current');
          });
      });
      $('.slides').mouseover(function() {
          auto = false;
      }).mouseout(function(){
          auto = true;
      });
      //
      setInterval(function(){
          var pos = $('.slides .control .current').data('index') + 1;
          if (pos >= control.length) {
              pos = 0;
          }
          if (auto) {
              control.eq(pos).click();
          }
      }, 5000);
  });
</script>