<div class="footer">
  <div class="mb10" style="border-bottom: #fff 1px solid; border-top: #E8E8E8 1px solid;">
  </div>
  <div class="container">
    <div class="pull-left">© 2013 <a href="<%= root_url %>">best dress world</a></div>
    <div class="pull-right">about us</div>
  </div>
</div>