<!DOCTYPE html>
<html lang="en">
  <head>
  <%= render "common/head_meta" %>
  </head>
<body>
  <%= render :partial => 'common/header' %>
  <div class="container"><%= yield %></div>
  <%= render :partial => 'common/footer' %>
</body>
</html>
